<div>
  <button mat-raised-button color="primary" (click)="toggleReport()">
    {{ isReportShown ? "Close Report" : "Show Report" }}
  </button>
</div>
<router-outlet></router-outlet>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Vehicle Name</th>
      <th scope="col">Type</th>
      <th scope="col">Cost</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sale of sales">
      <th scope="row">{{ sale.id }}</th>
      <td>{{ sale.vehicle.name }}</td>
      <td>{{ sale.vehicle.type }}</td>
      <td>
        {{ sale.amount | price }}
      </td>
      <td>
        {{ sale.orderDate | date: "longDate" }}
      </td>
      <td>
        {{ sale.orderDate | date: "mediumTime" }}
      </td>
    </tr>
  </tbody>
</table>
