.two-wheeler{
  background-color: rgba(245, 206, 206, 0.5);
}
.three-wheeler{
  background-color: rgba(218, 206, 245, 0.5);
}
.four-wheeler{
  background-color: rgba(206, 244, 245, 0.5);
}
.commercial{
  background-color: rgb(241, 245, 206,0.5);
}
