<div class="list-group">
  <a
    class="list-group-item list-group-item-action"
    routerLinkActive="active"
    routerLink="commission-structure"
  >
    Commission Structure
  </a>
  <a
    class="list-group-item list-group-item-action"
    routerLinkActive="active"
    routerLink="sales-team"
  >
    Sales Team
  </a>
  <a
    class="list-group-item list-group-item-action"
    routerLinkActive="active"
    routerLink="quota"
  >
    Quota
  </a>
  <a
    class="list-group-item list-group-item-action"
    routerLinkActive="active"
    routerLink="upload-report"
  >
    Upload Sales Report
  </a>
</div>
