<div class="list-group list-group-horizontal">
  <a
    class="list-group-item list-group-item-action"
    routerLink="2 wheeler"
    routerLinkActive="active"
    >2 Wheeler</a
  >
  <a
    class="list-group-item list-group-item-action"
    routerLink="3 wheeler"
    routerLinkActive="active"
    >3 Wheeler</a
  >
  <a
    class="list-group-item list-group-item-action"
    routerLink="4 wheeler"
    routerLinkActive="active"
    >4 Wheeler</a
  >
  <a
    class="list-group-item list-group-item-action"
    routerLink="commercial"
    routerLinkActive="active"
    >Commercial</a
  >
</div>
<br />
<router-outlet></router-outlet>
