/* You can add global styles to this file, and also import other style files */



$accent: #673AB7;
$primary: #ffd740;

$theme-colors: (
  "primary": $primary,
  "accent": $accent
);

@import "../node_modules/bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
